.chartEighty {
  background: conic-gradient(#FF198D 0.00% 80.00%, #0F69E5 80.00% 0.00%);
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  padding: 16px;
}

.chartSeventy {
  background: conic-gradient(#FF198D 0.00% 70.00%, #0F69E5 70.00% 0.00%);
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  padding: 16px;
}