@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px;
  }

  .font-outline-2 {
    -webkit-text-stroke: 2px;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px;
  }

  .font-outline-white {
    -webkit-text-stroke-color: white;
  }

  .font-outline-black {
    -webkit-text-stroke-color: black;
  }

  .font-outline-pink {
    -webkit-text-stroke-color: pink;
  }
  
  .font-fill-transparent {
    -webkit-text-fill-color: transparent;
  }

  .chart-eighty {
    background: conic-gradient(#FF198D 0.00% 80.00%, #0F69E5 80.00% 0.00%);
  }
  
  .chart-seventy {
    background: conic-gradient(#FF198D 0.00% 70.00%, #0F69E5 70.00% 0.00%);
  }
  
  .chart-sixty {
    background: conic-gradient(#FF198D 0.00% 60.00%, #0F69E5 60.00% 0.00%);
  }

  .chart-ninety {
    background: conic-gradient(#FF198D 0.00% 90.00%, #0F69E5 90.00% 0.00%);
  }

  .shrink-b {
    clip-path: polygon(0% 0%, 10% 100%, 90% 100%, 100% 0%);
  }

  .glow {
    filter: drop-shadow(0 0 4.95rem #FF198D);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
